@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

* { 
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
}

::selection {
    background: rgba(24, 145, 251, 0.3);
}

body {
    overflow: hidden;
}